* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START - UTILITY */

body {
  font-family: 'Yantramanav', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.col-100 {
  width: 100%;
  float: left;
}

.col-50 {
  width: calc(100% / 2);
  float: left;
}

.col-33 {
  width: calc(100% / 3);
  float: left;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.pad-40 {
  padding: 40px;
}

.mrg-top-50 {
  margin-top: 50px;
}




/* END - UTILITY */

/* START - NAVBAR */

header > nav {
  background-color: rgb(23, 50, 87);
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.logo img {
  width: 110px;
}

[class^=nav-] {
  height: 80px;
  line-height: 80px;
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  vertical-align: middle;
  padding-left: 20px;
}

[class^=nav-] li {
  display: inline-block;
  padding-left: 15px;
}

[class^=nav-] li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

.nav-right {
  float: right;
}

.btn-green {
  background-color: rgb(138, 184, 56);
  border-radius: 5px;
  padding: 10px 15px;
}

.btn-transp {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 35px;
}

  /* Immagine e testo Jumbo */

#jumbo {
  margin-top: 50px;
  position: relative;
}

#jumbo:after{
  content: '';
  display: table;
  clear: both;
}

.img-jumbo {
  width: 70%;
  float: right;
}

.text-jumbo {
  color: #fff;
  width: 40%;
  position: absolute;
  top: 70px;
  left: 10%
}

.text-jumbo > h1 {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 60px;
}

.piano {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px 25px;
  position: absolute;
  top: 150px;
  left: 0px;
}

/* END - NAVBAR */

/* START - FIRST SECTION */

.gray {
  background-color: rgb(211, 211, 211);
  margin: 0 auto;
  text-align: center;
}

.row h2 {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.row p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(121, 121, 121);
}

.contained img {
  width: 40%;
  margin-bottom: 15px;
}

.contained h3 {
  font-size: 30px;
  color: rgb(138, 184, 56);
  font-weight: 400;
}

.contained hr {
  width: 20%;
  margin: 30px auto;
}

/* END - FIRST SECTION */
